@model panasonic_machine_checker.Models.MachineRepairsModel;
@{
    Layout = "~/Views/Shared/_App_Layout.cshtml";
    var userList = ViewBag.UserList as List<Users>;
    var statusList = ViewBag.StatusList as List<StatusMachineRepairs>;
    var scheduledList = ViewBag.CaseList as List<RepairSchedules>;
}

<div class="w-full bg-base-100 p-6 rounded-xl mt-5">
    <input type="checkbox" id="form_modal" class="modal-toggle" />
    <div class="modal" role="dialog">
        <div class="modal-box max-w-xl">
            <h3 class="font-bold text-lg">Machine Repairs Form</h3>
            <form id="formData">
                <div class="form-control my-3">
                    <label for="schedule_id">Select Schedule</label>
                    <select required class="select select-bordered w-full mt-1" id="schedule_id" name="schedule_id">
                        <option value="" disabled selected>Select Scheduled Repair</option>
                        @foreach (var item in scheduledList)
                        {
                            <option value="@item.Id">@item.Id, @item.CallDate @item.Case.ReportedByNavigation.Name</option>
                        }
                    </select>
                </div>
                <div class="form-control my-3">
                    <label for="reviewed_by">Reviewed By</label>
                    <select required class="select select-bordered w-full text-black mt-1" id="reviewed_by" name="reviewed_by">
                        <option value="" disabled selected>Select User</option>
                        @foreach (var item in userList)
                        {
                            <option value="@item.Id">@item.Name (@item.Email)</option>
                        }
                    </select>
                </div>
                <div class="form-control my-3">
                    <label for="repair_date">Repair date</label>
                    <input type="date" id="repair_date" name="repair_date" class="input input-bordered w-full" />
                </div>
                <div class="form-control my-3">
                    <label for="status_id">Current Status</label>
                    <select required class="select select-bordered w-full mt-1" id="status_id" name="status_id">
                        <option value="" disabled selected>Select Status</option>
                        @foreach (var item in statusList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-control my-3">
                    <label for="corrections">Correction</label>
                    <textarea id="corrections" name="corrections" required class="textarea textarea-bordered w-full"></textarea>
                </div>
                <div class="form-control my-3">
                    <label for="result">Result</label>
                    <textarea id="result" name="result" required class="textarea textarea-bordered w-full"></textarea>
                </div>
                <div class="modal-action">
                    <label for="form_modal" class="btn">Cancel</label>
                    <button type="submit" class="btn btn-primary text-white">Submit Data</button>
                </div>
            </form>
        </div>
    </div>

    <input type="checkbox" id="delete_modal" class="modal-toggle" />
    <div class="modal" role="dialog">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Delete Schedule ?</h3>
            <p class="text-sm">The Schedule data will be deleted permanently</p>
            <div class="modal-action">
                <label for="delete_modal" class="btn">Cancel</label>
                <button id="deleteBtn" class="btn btn-error text-white">Delete</button>
            </div>
        </div>
    </div>

    <div>
        <div class="w-full grid grid-cols-2 p-2 mb-4 border rounded-xl gap-3">
            <div>
                <a asp-area="" asp-controller="Admin" asp-action="Machines" class="w-full btn btn-sm">Machine</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Admin" asp-action="MachineRepairs" class="w-full btn btn-sm btn-primary">Machine Repair</a>
            </div>
        </div>
        <div class="flex items-center justify-between w-full mb-3">
            <h1 class="font-semibold">Machine Repairs <span class="badge badge-primary">@Model.MachineRepairsList.Count</span></h1>
            <div>
                <label for="form_modal" class="btn btn-sm btn-primary" id="btnAdd">Add new</label>
                <select class="select w-24 select-sm select-bordered" id="sort-filter">
                    <option disabled selected>Terbaru</option>
                    <option>Terlama</option>
                </select>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Scheduled</th>
                        <th>Reviewed By</th>
                        <th>Repaired at</th>
                        <th>Status</th>
                        <th>Corrections</th>
                        <th>Result</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MachineRepairsList.Count > 0)
                    {
                        int counter = 1;
                        @foreach (var item in Model.MachineRepairsList)
                        {
                            <tr id="item-@item.Id">
                                <th class="item_counter">@counter</th>
                                <td class="item_scheduled_id hidden">@item.ScheduledById</td>
                                <td class="item_scheduled">@item.ScheduledBy.CallDate</td>
                                <td class="item_status_id hidden">@item.StatusId</td>
                                <td class="item_reviewed_by">@item.ReviewsBy.Name</td>
                                <td class="item_reviewed_by_id hidden">@item.ReviewedById</td>
                                <td class="item_repairdate">@item.RepairDate</td>
                                <td class="item_repairdate">@item.Status.Name</td>
                                <td class="item_corrections">@item.Corrections</td>
                                <td class="item_result">@item.Result</td>
                                <td>
                                    <label for="form_modal" data-itemid="@item.Id" class="btn btnEdit btn-primary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m11.4 18.161l7.396-7.396a10.289 10.289 0 0 1-3.326-2.234a10.29 10.29 0 0 1-2.235-3.327L5.839 12.6c-.577.577-.866.866-1.114 1.184a6.556 6.556 0 0 0-.749 1.211c-.173.364-.302.752-.56 1.526l-1.362 4.083a1.06 1.06 0 0 0 1.342 1.342l4.083-1.362c.775-.258 1.162-.387 1.526-.56c.43-.205.836-.456 1.211-.749c.318-.248.607-.537 1.184-1.114m9.448-9.448a3.932 3.932 0 0 0-5.561-5.561l-.887.887l.038.111a8.754 8.754 0 0 0 2.092 3.32a8.754 8.754 0 0 0 3.431 2.13z" /></svg>
                                    </label>
                                    <label for="delete_modal" data-itemid="@item.Id" class="btn btnDelete btn-error btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z" /></svg>
                                    </label>
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                <div class="w-full bg-error text-white p-3 rounded-xl text-center">
                                    Machine Repair Data Not Found
                                </div>
                            </td>
                        </tr>
                    }
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Case</th>
                        <th>Scheduled By</th>
                        <th>Called at</th>
                        <th>Repaired at</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="w-full flex mt-10 justify-end">
            <div class="join">
                <button class="btn join-item"><</button>
                <button class="btn btn-primary join-item">1</button>
                <button class="btn join-item">></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let data = null
            function updateMachine() {
                let schedule_id = parseInt(document.getElementById('schedule_id').value);
                let reviewed_by = parseInt(document.getElementById('reviewed_by').value);
                let status_id = parseInt(document.getElementById('status_id').value);
                let corrections = document.getElementById('corrections').value;
                let result = document.getElementById('result').value;
                let repair_date = document.getElementById('repair_date').value;
                let case_data = {
                    ScheduleId: schedule_id,
                    ReviewedBy: reviewed_by,
                    StatusId: status_id,
                    RepairDate: repair_date,
                    Corrections: corrections,
                    Result: result,
                }
                if (data != null) case_data.Id = data
                let url = data != null ? '/Admin/UpdateMachineRepairs/' + data : '/Admin/CreateMachineRepairs';

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(case_data)
                })
                    .then((response) => response.json())
                    .then((data) => {
                        alert('Repair Schedule Data Saved');
                        document.getElementById('form_modal').click()
                        setTimeout(() => {
                            window.location.reload()
                        }, 300)
                    })
            }

            document.getElementById('sort-filter').addEventListener('change', (event) => {
                window.location.href = '?page=1&sortOrder=' + event.target.value;
            })

            document.getElementById('btnAdd').addEventListener('click', (event) => {
                data = null
                document.getElementById('schedule_id').value = ''
                document.getElementById('reviewed_by').value = ''
                document.getElementById('status_id').value = ''
                document.getElementById('corrections').value = ''
                document.getElementById('result').value = ''
                document.getElementById('repair_date').value = ''
            })
            Array.from(document.getElementsByClassName('btnEdit')).map((element, index) => {
                element.addEventListener('click', (event) => {
                    data = event.target.getAttribute('data-itemid')
                    let itemData = document.getElementById('item-' + data)
                    const repairDate = new Date(itemData.querySelector('.item_repairdate').innerHTML);
                    document.getElementById('reviewed_by').value = Array.from(itemData.getElementsByClassName('item_reviewed_by_id'))[0].innerHTML
                    document.getElementById('schedule_id').value = Array.from(itemData.getElementsByClassName('item_scheduled_id'))[0].innerHTML
                    document.getElementById('status_id').value = Array.from(itemData.getElementsByClassName('item_status_id'))[0].innerHTML
                    document.getElementById('corrections').value = Array.from(itemData.getElementsByClassName('item_corrections'))[0].innerHTML
                    document.getElementById('result').value = Array.from(itemData.getElementsByClassName('item_result'))[0].innerHTML
                    document.getElementById('repair_date').value = repairDate.toISOString().split('T')[0];
                })
            })
            Array.from(document.getElementsByClassName('btnDelete')).map((element, index) => {
                element.addEventListener('click', (event) => {
                    data = event.target.getAttribute('data-itemid')
                })
            })

            function deleteMachine() {
                fetch('/Admin/DeleteMachineRepairs/' + data, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: data })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Repair Schedule Data deleted');
                            document.getElementById('delete_modal').click()
                            setTimeout(() => {
                                window.location.reload()
                            }, 300)
                        } else {
                            alert('Error deleting Repair Schedule Data ');
                        }
                    });
            }

            document.getElementById('formData').addEventListener('submit', (event) => {
                event.preventDefault()
                updateMachine()
            });
            document.getElementById('deleteBtn').addEventListener('click', function () {
                deleteMachine();
            });
        })
    </script>
}